<div class="tours-container">
  <div class="tours-header">
    <h1>Available Tours</h1>
    <div class="filters-panel">
      <div class="filters-row">
        <p-select
          [options]="typeOptions"
          [formControl]="typeControl"
          placeholder="Все типы"
          class="filter-dropdown custom-dropdown"
        ></p-select>

        <p-datepicker
          [formControl]="dateControl"
          class="filter-date"
          placeholder="Дата"
          inputId="tourDateFilter"
          showIcon="true"
          dateFormat="dd.mm.yy"
        ></p-datepicker>

        <input
          type="text"
          [formControl]="searchControl"
          class="filter-search"
          placeholder="Поиск по названию"
        />

        <div class="filter-slider">
          <p-slider
            [formControl]="priceRangeControl"
            [min]="minPrice"
            [max]="maxPrice"
            [range]="true"
            styleClass="price-slider"
          ></p-slider>
          <span class="price-range-label">
            {{
              priceRangeControl.value ? priceRangeControl.value[0] : minPrice
            }}
            € -
            {{
              priceRangeControl.value ? priceRangeControl.value[1] : maxPrice
            }}
            €
          </span>
        </div>

        <button
          pButton
          type="button"
          class="reset-btn"
          (click)="resetFilters()"
          *ngIf="hasActiveFilters()"
        >
          Сбросить фильтры
        </button>
      </div>

      <div class="filters-row basket-checkbox-row">
        <p-checkbox
          [formControl]="showOnlyBasketControl"
          binary="true"
          inputId="showOnlyBasket"
        ></p-checkbox>
        <label for="showOnlyBasket">Показывать только туры из корзины</label>
      </div>
    </div>
  </div>

  <!-- Состояние загрузки -->
  <div *ngIf="loading" class="p-text-center p-mt-5">
    <p>Загрузка туров...</p>
  </div>

  <!-- Состояние ошибки -->
  <div *ngIf="error" class="p-text-center p-mt-5">
    <p class="p-text-danger">{{ error }}</p>
  </div>

  <!-- Список туров -->
  <div *ngIf="!loading && !error" class="tours-list">
    <div class="tours-grid">
      <div *ngFor="let tour of filteredTours" class="tour-card">
        <div class="tour-image">
          <img [src]="'assets/images/' + tour.img" [alt]="tour.name" />
        </div>
        <div class="tour-content">
          <h3>{{ tour.name }}</h3>
          <div class="tour-description scrollable">
            {{ tour.description }}
          </div>
          <div class="tour-details">
            <span
              ><i class="pi pi-calendar"></i>
              {{ tour.date | date : "dd.MM.yyyy" }}</span
            >
            <span class="tour-type"
              ><i class="pi pi-users"></i> {{ tour.type }}</span
            >
          </div>
          <div
            *ngIf="getCountryInfo(tour.country) as countryInfo"
            class="tour-country"
          >
            <img
              [src]="countryInfo.flag_url"
              [alt]="countryInfo.name_ru + ' flag'"
              width="22"
              height="16"
              class="country-flag"
            />
            <span class="country-name">Страна: {{ countryInfo.name_ru }}</span>
          </div>
          <!-- Футер всегда внизу -->
          <div class="tour-footer">
            <span class="tour-price">
              {{ formatPrice(tour.price) | number : "1.0-0" }}
              {{ getCurrencySymbol(tour.price) }}
            </span>
            <button
              *ngIf="isAdmin"
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-rounded tour-delete-btn"
              (click)="confirmDeleteTour(tour)"
              style="position: absolute; right: 1rem; bottom: 1rem"
              label="Удалить"
            ></button>
            <button
              pButton
              type="button"
              label="Подробнее"
              class="p-button-rounded p-button-success tour-btn"
              (click)="openTourDialog(tour)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="filteredTours.length === 0" class="no-tours">
    <p>Нет туров, подходящих под выбранные фильтры.</p>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>

<!-- Модальное окно "Подробнее" -->
<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [header]="selectedTour?.name"
  [style]="{ width: '500px' }"
  (onHide)="selectedTour = null"
>
  <ng-container *ngIf="selectedTour">
    <div class="tour-modal-content">
      <img
        [src]="'assets/images/' + selectedTour.img"
        alt=""
        class="modal-img"
      />
      <div class="modal-info">
        <div><b>Оператор:</b> {{ selectedTour.tourOperator }}</div>
        <div><b>Цена:</b> {{ selectedTour.price }}</div>
        <div><b>Дата:</b> {{ selectedTour.date | date : "dd.MM.yyyy" }}</div>
        <div><b>Тип:</b> {{ selectedTour.type }}</div>
        <div><b>Описание:</b> {{ selectedTour.description }}</div>
      </div>
      <button
        pButton
        type="button"
        label="В корзину"
        class="p-button-rounded p-button-primary add-to-basket-btn"
        (click)="addToBasket(selectedTour)"
      ></button>
    </div>
  </ng-container>
</p-dialog>
